*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    padding: 10px;
    height: 15vh;
    width: 85%;

}
