*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #212121;
    height: 20vh;
    width: 58vw;
    color: white;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    gap: 20px; /*Adds spacing between the thumbnail and text*/
}
.thumbnail{
    position: relative;
    flex-shrink: 0; /* Prevents the thumbnail from shrinking */
}
.thumbnail img{
    width: 200px;
    border-radius: 10px;
}

.duration{
    color: white;
    background-color: rgba(5, 5, 5, 0.562);
    position: absolute;
    z-index:10;
    bottom: 5px;
    right: 3px;
    padding: 2px;
    border-radius: 6px;
}

.text {
    flex-grow: 1; /* Allows the text section to take up the remaining space */
}

.text>h2,p{
    padding: 10px 10px ;
}

.btn{
    cursor: pointer;
    position: relative;
    top: 10%;
    right: -90%;
    margin: 10px;
    padding: 20px 10px;
    border: #212121;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    color: #212121;
    box-shadow: 0 9px #999;
}
.btn:hover {
    background-color: #3e5e8e;
    color: #fff;
}
.btn:active{
    background-color: #3e5e8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}